@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg {
    background: linear-gradient(90deg, #ff8f70, #ff8269, #ff7461, #ff665a, #ff5753, #ff4c50, #ff4451, #ff3d54);
}

.body-bg {
    background: linear-gradient(180deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
}

.answer {
    transition: all 1.4s;
    max-height: 0px;
}

.faq svg {
    transition: all 0.5s;
}

.faq.active .answer {
    max-height: 300px;
}

.faq.active svg {
    transform: rotate(180deg);
}


